
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  html {
  scroll-behavior: smooth;
  }
  ul{
  list-style: none;
  }
  .container{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  
  }
  
  a{
  color: black;
  text-decoration: none;
  }
  
  body{
  font-family: sans-serif;
  }    
  @media (min-width: 768px) {
  .container {
    width: 750px;
  }
  }
  /* Medium */
  @media (min-width: 992px) {
  .container {
    width: 970px;
  }
  }
  /* Large */
  @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  }
  /* Start Global Rules */ 
  body{
  margin: 0;
  padding: 0;
  
  }
  header {
  background-color: #10CAB7;
  width: 100%;
  height: 7%;
  
  
  }
  header  input{
  
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 220px;
  transition:  0.3s;
  padding: 9px;
  
  }
  
  header input:focus{
  width: 500px;
  
  }
  @media (max-width: 768px) {
  header input:focus{
  width: 300px;
    
  }
  }
  header  nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex :1;
  
  }
  header .container{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  }
  
  header .container ul {
  display: flex;
  }
  
  
  header .container ul li {
  padding: 20px;
  
  }
  
  header .container ul li a{
  text-decoration: none;
  color: black;
  }
  .menu{
  padding-bottom: 20px;
  padding-top: 20px;
  }
  .menu .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  
  }
  
  .menu .dis{
  position: relative;
  margin-top: 30px;
  color:#10CAB7;
  }
  .menu .container span {
  
  
  font-weight: 800;
  padding: 30px;
  }
  .menu .container i{
  position: absolute;
  top: -25px;
  left: 53px;
  }
  
  
  .menu .container .dis:nth-child(2) i{
  
  left: 102px;
  }
  
  .ad-img{
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
  }
  
  .product{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  }
  .product h2{
    border-bottom: 2px solid #10CAB7;
  }
  
  .product .img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  }
  
  .product .box {
  position:relative;
  overflow: hidden;
  padding: 5px;
  border: 1px solid rgb(211, 211, 211);
  }
  
  .product .box img{
  width: 200px;
  transition: 0.3s;
  }
  
  .product .caption{
  position: absolute;  
  bottom: -100%;   
  background-color: white;
  padding: 20px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  }
  @media (min-width:768px) {
  .img-container .box{
  flex-basis: 50%;
  }
  }
  @media (min-width:1199px) {
  .img-container .box{
  flex-basis: 25%;
  }
  }
  
  .img-container .box:hover .caption{
  bottom: 0;
  }
  .img-container .box:hover img{
  transform: rotate(3deg) scale(1.1) ;
  }
  
  .img-container .box img{
  max-width: 100%;
  transition: 0.3s;
  }
  .img-container .box  .caption{
  position: absolute;
  bottom: -100%;
  background-color: white;
  padding: 20px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  }
  .img-container .box .caption h4{
  margin-bottom: 10px;
  font-weight: normal;
  }
  .img-container .box .caption p{
  color: var(--main-color);
  }
  
  
  /*contact us */
  .contact{
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .contact .content{
  display: flex;
  justify-content: space-between;
  }
  .contact .content form {
  flex-basis: 70%;
  }
  .contact .content form .main-input {
  display: block;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  }
  .contact .content form .main-input:focus {
  outline: none;
  }
  .contact .content form textarea.main-input {
  height: 200px;
  }
  .contact .content form input[type="submit"] {
  margin-left: auto;
  /* position: relative; */
  /* margin: 10px auto 10px auto; */
  display: flex;
  padding: 20px;
  color: white;
  border: 1px solid #777;
  border-radius: 2px;
  cursor: pointer;
  background-color: aqua;
  }
  .contact .content .info {
  flex-basis: 25%;
  }
  @media (max-width: 767px) {
  .contact .content .info {
  order: -1;
  text-align: center;
  }
  }
  .contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  }
  .contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
  }
  @media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
  margin-top: 30px;
  }
  }
  .contact .content .info address {
  color: #777;
  line-height: 2;
  }
  @media (max-width: 767px) {
  .contact .content .info address {
  margin-bottom: 40px;
  }
  }
  
  
  
  .footer {
  padding-top: calc(30px);
  padding-bottom: calc(30px);
  position: relative;
  color: white;
  text-align: center;
  }
  .footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  }
  .footer .container {
  position: relative;
  }
  .footer img {
  margin-bottom: 20px;
  }
  .footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
  }
  .footer .social-icons i {
  padding: 10px 15px;
  }
  .footer .copyright {
  margin-top: 60px;
  }
  .footer .copyright span {
  font-weight: bold;
  color: aqua;
  }
  
  
  .menu a:hover{
    color: blue;
  }
  
  .product-preview{
    position: fixed;
    top: 0;left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .product-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
  }
  
  .product-preview .preview.active{
    display: inline-block;
  }
  
  .product-preview .preview img {
   height: 30rem;
  
  }
  
  .product-preview .preview .fa-times{
  position: absolute;
  top: 1rem; right: 1rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
  
  
  }
  .product-preview .preview .fa-times:hover{
    transform: rotate(90deg);
    color: red;
  }
  
  .product-preview .preview  h3{
    color: #444;
    font-size: 2.5rem;
  
  }
  .product-preview .preview .stars{
    font-size: 1.7rem;
  }
  .product-preview .preview .stars i{
  color: #27ae60;
  }
  
  .product-preview .preview .stars span{
    color: #999;
    }
    .product-preview .preview p{
  line-height: 1.5;
  font-size: 1.7rem;
  color: #777;
    }
    .product-preview .preview .price{
      font-size: 2.5rem;
      color: #27ae60;
  
    }
  
    .product-preview .preview .buttons{
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
    }
  
    .product-preview .preview .buttons a{
      flex:1 1 16rem;
      padding: 1rem;
      font-size: 1.8rem;
      color: #444;
      
    }
    .product-preview .preview .buttons a.cart{
      background: #73b58f;
      color: #fff;
      border: 1px solid #10CAB7;
    }
    .product-preview .preview .buttons a.cart:hover{
      background: #27ae60;
  
    }
    .product-preview .preview .buttons a.more{
      background: #5484ba;
      color: #fff;
      border: 1px solid #279dd3;
    }
  
    .product-preview .preview .buttons a.more:hover{
      background: #3050d0;
    }
